body {
    font-family: "Poppins", sans-serif;
    color: #040000;
    background-color: #63f74f;
  }
  
  .layout_padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .layout_padding2 {
    padding: 45px 0;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  
  .layout_padding-top {
    padding-top: 120px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 120px;
  }
  
  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .heading_container h2 {
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    color: #010201;
  }
  
  /*header section*/
  .hero_area {
    height: 100vh;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero_area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(transparent), to(#63f74f));
    background: linear-gradient(to bottom, transparent, transparent, #63f74f);
  }
  
  .sub_page .hero_area {
    height: auto;
  }
  
  .sub_page .class_section .owl-carousel .owl-nav {
    top: 55%;
  }
  
  .header_section {
    background-color: #ffffff;
    position: relative;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 28.5% 100%, 26.5% 86%, 0 84%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 28.5% 100%, 26.5% 86%, 0 84%, 0 0);
  }
  
  .header_section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 62%;
    height: 45px;
    background: #080203;
    z-index: 1;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 8% 100%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 8% 100%, 0 0);
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .menu_width {
    width: 100%;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .main_nav {
    position: relative;
    z-index: 9;
  }
  
  .main_nav .top_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  
  .main_nav .top_nav ul li {
    list-style-type: none;
  }
  
  .main_nav .top_nav ul li a {
    display: inline-block;
    color: #ffffff;
    margin: 10px 0 10px 35px;
  }
  
  .main_nav .top_nav ul li a img {
    max-width: 25px;
    max-height: 25px;
    margin-right: 15px;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 20px;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: black;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar-brand img {
    width: 125px;
    margin-right: 5px;
  }
  
  .navbar-brand.brand_mobile {
    display: none;
  }
  
  .custom_nav-container {
    z-index: 99999;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 55px;
  }
  .mycontainer{
    position: relative;
    display: inline-block;
  }
  #img{ 
    width: 100%;
    display: block;
  }
  .image-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }
  .image-wrapper img{
    display: block;
    width: 100%;
    height: 100%;
  }
  .fog {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #63f74f, rgba(0, 255, 0, 0));
  }
  .fog-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
  }
  .fog-part {
    color: #63f74f;
  }
  .slanted-text {
    position: absolute;
    top: 46%;
    left: 8%;
    transform: translateY(-50%) rotate(-270deg);
    color:white;
    font-size: 140px;
    font-weight: bold;
    z-index: 2;
  }
  #vertical-line{
    width: 1px ;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
  }
  .flipped-r {
    display:inline-block;
    transform: scaleX(-1);
  }
  .text-content{
    position:absolute;
    top: calc(32% - 30px);
    left: 38%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 2;
  }
  .boxing-center{
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 45%;
    z-index: 3;
    font-weight: bold;
    margin-top: 20px;
  }
  .contact-btn{
    margin-top: 30px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 100px;
  }
  .contact-btn:hover{
    background-color:white;
    color: black;
  }
  .vertical-line.contact-btn{
    z-index: 10;
    position: relative;
  }
  .slide{
    width: 100vw;
    height: 100%;
    flex-direction: column;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }
  @keyframes slideCarousel {
    0% {transform: translateX(0);}
    14.28% {transform: translateX(0);}
    28.56% {transform: translateX(-100vw);}
    42.84% {transform: translateX(-100vw);}
    57.13% {transform: translateX(-200vw);}
    71.41% {transform: translateX(-200vw);}
    100% {transform: translateX(0);}
  }
  .button{
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
  }
  .carousel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: slideCarousel 15s ease-in-out infinite;
  }
  #slide-1 {
    transform: translateX(0);
  }
  #slide-2 {
    transform: translateX(100vw);
  }
  #slide-3 {
    transform: translateX(200vw);
  }
  .background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .abt-container{
    position: relative;
    overflow: hidden;
  }
  .right-image{
    float: right;
  }
  .topleft{
    position: absolute;
    top: 4%;
    left: 230px;
    font-size:18px;
    z-index: 2;
    color: white;
  }
  .line{
    width: 1px ;
    height: 100px;
    margin: 0 auto;
    background-color: white;
    margin-top: 10px;
  }
  .readmore-btn{
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: 0 0 30px rgba(99, 247, 79, 0.7);
  }
  .readmore-btn:hover{
    background-color:white;
    color: black;
  }
  .vid-container{
    position: relative;
    height: 600px;
    width: 100%;
  }
  .text-above-vid{
    position: absolute;
    left: 230px;
  }
  p{
    font-weight: bold;
    color: white;
  }
  h2{
   font-family: Verdana; 
  }
  .image-rotator{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 0;
  }
  .rotator-wrapper{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;
    animation: autoSlide 8s infinite;
  }
  .rotator-slide{
    width: 100%;
    flex-shrink: 0;
  }
  .rotator-slide img{
    max-width: 100%;
    height: 80%;
    object-fit: contain;
    display: block;
  }
  input[type="radio"]{
    display: none;
  }
  #rotator1:checked ~ .rotator-wrapper{
    transform: translateX(0%);
    animation: none;
  }
  #rotator2:checked ~ .rotator-wrapper{
    transform: translateX(-100%);
    animation: none;
  }
  .rotator-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    transform: translateY(-50%);
    justify-content: space-between;
    pointer-events: none;
  }
  .rotator-nav label{
    pointer-events: all;
    background-color: black;
    color: white;
    padding: 12px, 18px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
  }

  @keyframes autoSlide {
    0%, 49% {
      transform: translateX(0vw);
    }
    50%, 99% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
  .seemore-btn{
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 100px;
  }
  .seemore-btn:hover{
    background-color:white;
    color: black;
  }
  .blog-container{
    position: relative;
    z-index: 1;
  }
  .blog-above-pic{
    position: absolute;
    left: 230px;
  }
  .image-row{
    display: flex;
    gap: 32px;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
  }
  .image-text-block{
    position: relative;
    flex: 1;
    width: 50px;
  }
  .image-text-block img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
  }
  .text-section{
    background-color: rgb(61, 60, 60);
    color: white;
    padding: 2%;
    margin-top: -5px;
    box-sizing: border-box;
    padding-top: 15%;
    padding-left: 40%;
  }
  .image-text-wrapper{
    display: flex;
    align-items: center;
  }
  .left-img img{
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .img-date{
    position: absolute;
    background-color: #63f74f;
    color: #ffffff;
    top: 51%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  .img-date .day{
    font-size: 16px;
    line-height: 1;
  }
  .img-date .month{
    font-size: 14px;
    line-height: 1;
  }
  .right-text{
    max-width: 400px;
  }
  #readmore-btn{
    padding: 8px 25px;
    font-size: 14px;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 100px;
  }
  #readmore-btn:hover{
    background-color:white;
    color: black;
  }
  section.testimonials{
    text-align:center;
    padding: 40px 20px;
  }
  .subtitle{
    color: #d3fdbc;
    font-size: 14px;
    max-width: 600px;
    margin: 10px auto 40px;
  }
  .testimonials h2{
    font-weight: bold;
    color: black;
  }
  .testimonial-slider{
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    background: black;
    color: white;
    border-radius: 20px;
    display: flex;
  }
  .student-slides{
    display: flex;
    width: calc((50% + 20px) * 4);
    animation: scroll 12s infinite linear;
  }
  .student-slide{
    width: calc(50% - 10px);
    flex-shrink: 0;
    padding: 50px 20px;
    box-sizing: border-box;
    text-align: center;
    color: white;
  }
  .profile-pic{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .student-slide h3{
    margin-top: 10px;
    font-weight: bold;
  }
  .student-slide p{
    font-size: 14px;
    color: white;
    line-height: 1.6;
    margin: 20px 0;
  }
  .quote-icon{
    font-size: 60px;
    font-weight: bold;
    color: #63f74f;
  }
  .student-arrows{
    margin-top: 20px;
  }
  .student-arrow{
    display: inline-block;
    background: white;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10%;
    user-select: none;
    margin: 0 10px;
  }
  .student-arrow:hover{
    background: #d3fdbc;
  }
  @keyframes scroll{
    0%{
      transform: translateX(0%);
    }
    25%{
      transform: translateX(0%);
    }
    50%{
      transform: translateX(-50%);
    }
    75%{
      transform: translateX(-50%);
    }
    100%{
      transform: translateX(0%);
    }
  }
  section.request{
    width: 70%;
    padding-left: 210px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 150vh;
  }
  .request p{
    color: #000;
  }
  .request input, 
  .request textarea{
    display: block;
    width: 65%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
  }
  .request input::placeholder,
  .request textarea::placeholder{
    color: #888;
  }
  .footer h2{
    font-size: 200px;
    font-weight: bold;
  }
  button{
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
  .footer-container{
    top: 20%;
    padding-left: 426px;
    right: -30%;
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: flex-end;
  }
  .footer-container img{
    height: 130vh;
    width: 100vh;
  }
  .social-icons{
    position: absolute;
    bottom: 40px;
  }
  .social-icons a{
    margin-right: 15px;
  }
  .social-icons img{
    width: 20px;
    height: 20px;
  }
  .footer-text{
    position: absolute;
    bottom: 5px;
    font-size: 16px;
  }